body {
  background-color: rgb(80, 63, 54);
  margin: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: rgb(170, 211, 212);
}


.setup {
  color:rgb(194, 190, 153);
  font-style: italic;
}

.punchline{
  color:khaki;
  font-weight: 800;
}

.character {
  color : rgb(19, 38, 41);
  background-color: rgb(135, 190, 228);
  border: 5px solid rgb(255, 241, 164);
  border-radius: 10px;
  margin: 10px;
  margin-left: 500px;
  margin-right: 500px;
  padding: 3px;
  padding-left: 30px;
}

.header {
  text-align: center;
}

.button{
  text-align: center;
  top: 50px;
}

.newclass {
  margin-bottom:20%;
  border: solid black;
  border-width: 10px;
}

.title{
  border: solid khaki;
  border-width: 5px;
  background-color: rgb(22, 22, 22);
}

.warhornLeft  {
float: left;
padding: 5px;
margin-top: 1%;
margin-left: .5%;
border: solid black;
border-width: 5px;
background-color: cornflowerblue;
}

.warhornRight {
float: right;
padding: 5px;
margin-top: 1%;
margin-right: .5%;
border: solid black;
border-width: 5px;
background-color: cornflowerblue;
}

.warhornTitleLeft  {
  float: left;
  padding: 5px;
  margin-top: .5%;
  margin-left: 20%;
  margin-right: .5%;
  }

.warhornTitleRight {
  float: right;
  padding: 5px;
  margin-top: .5%;
  margin-left: .5%;
  margin-right: 20%;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}